<app-nav user="Andy Simpson"></app-nav>
<div class="dashboard container-fluid px-4 py-3">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <form
        name="deliveryForm"
        ng-submit="$ctrl.onSubmit(deliveryForm.$valid)"
        novalidate
      >
        <div class="card dashboard__cards mt-3 mb-4">
          <div class="card-body">
            <h5 class="card-title">
              Route
              <div
                ng-if="$ctrl.loader"
                class="spinner-border text-primary float-right"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </h5>

            <div class="form-group row mt-3">
              <label for="pickup" class="col-md-2 col-sm-12 col-form-label"
                >Pickup</label
              >
              <div class="col-md-4 col-sm-12 form-group">
                <select
                  name="pickup"
                  ng-class="{ 'has-error' : (deliveryForm.$submitted || deliveryForm.pickup.$touched) && deliveryForm.pickup.$error.required }"
                  class="form-control"
                  id="pickup"
                  ng-model="$ctrl.delivery.route.pickup.city"
                  ng-options="country.name for country in $ctrl.countries"
                  required
                >
                </select>
                <div
                  ng-show="deliveryForm.$submitted || deliveryForm.pickup.$touched"
                >
                  <div
                    class="invalid-feedback"
                    ng-if="deliveryForm.pickup.$error.required"
                  >
                    Please choose pickup
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <textarea
                  type="text"
                  class="form-control"
                  placeholder="Address"
                  ng-model="$ctrl.delivery.route.pickup.address"
                  rows="1"
                ></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="delivery" class="col-md-2 col-sm-12 col-form-label"
                >Delivery</label
              >
              <div class="col-md-4 col-sm-12 form-group">
                <select
                  name="delivery"
                  ng-class="{ 'has-error' : (deliveryForm.$submitted || deliveryForm.delivery.$touched) && deliveryForm.delivery.$error.required }"
                  class="form-control"
                  id="delivery"
                  ng-model="$ctrl.delivery.route.deliver.city"
                  required
                  ng-options="country.name for country in $ctrl.countries"
                >
                </select>
                <div
                  ng-show="deliveryForm.$submitted || deliveryForm.delivery.$touched"
                >
                  <div
                    class="invalid-feedback"
                    ng-if="deliveryForm.delivery.$error.required"
                  >
                    Please choose delivery
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <textarea
                  class="form-control"
                  placeholder="Address"
                  ng-model="$ctrl.delivery.route.deliver.address"
                  rows="1"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card dashboard__cards my-4">
          <div class="card-body">
            <h5 class="card-title">Freight details</h5>
            <div>
              <div class="mb-3 ml-0">
                <label>Type of goods</label><br />
                <div class="btn-group" role="group" aria-label="Types of goods">
                  <button
                    ng-repeat="good in $ctrl.goods"
                    ng-click="$ctrl.onGoodsClick(good)"
                    type="button"
                    class="btn btn-secondary"
                  >
                    {{ good }}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <div class="form-group col-md-8">
                      <label for="volumeType">Volume</label>
                      <select
                        name="volumeType"
                        ng-model="$ctrl.delivery.freight.volume.type"
                        ng-options="pallet.name for pallet in $ctrl.pallets"
                        class="form-control"
                        id="volumeType"
                      >
                      </select>
                    </div>
                    <div class="form-group custom-form-group col-md-4">
                      <select
                        class="form-control"
                        ng-model="$ctrl.delivery.freight.volume.qty"
                      >
                        <option value="1">1</option>
                        <option value="2">2</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row freight-volumes">
                    <div class="form-group col-md">
                      <input
                        type="text"
                        ng-model="$ctrl.delivery.freight.volume.length"
                        class="form-control"
                        id="length"
                      />
                      <label for="length">Length (cm)</label>
                    </div>
                    <span class="mt-2 d-none d-sm-block">X</span>
                    <div class="form-group col-md">
                      <input
                        type="text"
                        ng-model="$ctrl.delivery.freight.volume.width"
                        class="form-control"
                        id="width"
                      />
                      <label for="width">Width (cm)</label>
                    </div>
                    <span class="mt-2 d-none d-sm-block">X</span>
                    <div class="form-group col-md">
                      <input
                        type="text"
                        name="height"
                        class="form-control"
                        required
                        ng-model="$ctrl.delivery.freight.volume.height"
                        id="height"
                      />
                      <label for="height">Height (cm)</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row freight-weight">
                <label for="weight" class="col-md-2 col-sm-12 col-form-label"
                  >Weight</label
                >
                <div class="col-md-3 col-sm-12">
                  <div class="input-group mb-2 mr-sm-2">
                    <input
                      type="text"
                      class="form-control"
                      required
                      name="weight"
                      ng-model="$ctrl.delivery.freight.weight"
                      ng-class="{ 'has-error' : (deliveryForm.$submitted || deliveryForm.weight.$touched) && deliveryForm.weight.$error.required }"
                      id="weight"
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text"
                        ng-class="{ 'has-error' : (deliveryForm.$submitted || deliveryForm.weight.$touched) && deliveryForm.weight.$error.required }"
                        >Kg</span
                      >
                    </div>
                    <div
                      ng-show="deliveryForm.$submitted || deliveryForm.weight.$touched"
                    >
                      <div
                        class="invalid-feedback"
                        ng-if="deliveryForm.weight.$error.required"
                      >
                        Please enter weight
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card dashboard__cards my-4">
          <div class="card-body">
            <h5 class="card-title">Date &amp; Time</h5>
            <div class="form-group row">
              <label for="pickup" class="col-md-3 col-sm-12 col-form-label"
                >Pickup Date</label
              >
              <div class="col-md-4 col-sm-12">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    uib-datepicker-popup
                    placeholder="YYYY-MM-DD"
                    show-button-bar="false"
                    on-open-focus="(false)"
                    ng-model="$ctrl.delivery.route.pickup.date"
                    is-open="$ctrl.pickers.pickup"
                    datepicker-options="$ctrl.dateOptions"
                    close-text="Close"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary custom-picker-btn"
                      type="button"
                      ng-click="$ctrl.openPickupDate()"
                    >
                      <i class="material-icons">calendar_today</i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <rzslider
                  rz-slider-model="$ctrl.pickupSlider.minValue"
                  rz-slider-high="$ctrl.pickupSlider.maxValue"
                  rz-slider-options="$ctrl.pickupSlider.options"
                ></rzslider>
              </div>
            </div>
            <div class="form-group row">
              <label for="delivery" class="col-md-3 col-sm-12 col-form-label"
                >Delivery Date</label
              >
              <div class="col-md-4 col-sm-12 form-group">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    uib-datepicker-popup
                    show-button-bar="false"
                    on-open-focus="(false)"
                    placeholder="YYYY-MM-DD"
                    ng-model="$ctrl.delivery.route.deliver.date"
                    is-open="$ctrl.pickers.delivery"
                    datepicker-options="$ctrl.dateOptions"
                    close-text="Close"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary custom-picker-btn"
                      type="button"
                      ng-click="$ctrl.openDeliveryDate()"
                    >
                      <i class="material-icons">calendar_today</i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <rzslider
                  rz-slider-model="$ctrl.deliverySlider.minValue"
                  rz-slider-high="$ctrl.deliverySlider.maxValue"
                  rz-slider-options="$ctrl.deliverySlider.options"
                ></rzslider>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4 dashboard__form-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button
            type="reset"
            ng-click="$ctrl.reset(deliveryForm)"
            class="btn btn-light"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-5 col-sm-12">
      <div class="card dashboard__cards dashboard__cards--map mt-3 mb-4">
        <route-map></route-map>
      </div>
    </div>
  </div>
</div>
