@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700");
@import "./app/shared/theme";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  .quicargo-container {
    transition: margin-left 0.5s;
    margin-left: 260px;
  }
  .quicargo-container--full-screen {
    margin-left: 75px;
  }
}
